In [6]:
!python3 -m pip install --upgrade pip

Python was not found; run without arguments to install from the Microsoft Store, or disable this shortcut from Settings > Manage App Execution Aliases.

In [ ]:
%pip install opencv-python

In [2]:
import numpy as np 
import pandas as pd
import cv2
import PIL
import pytesseract
import spacy
import matplotlib.pyplot as plt

In [17]:
img_cv = cv2.imread(r"C:\Users\AGaikwad\OneDrive - Genzeon Corporation\Desktop\Project template\BusinessCardData\Selected\052.jpeg")

cv2.imshow('Business Card', img_cv)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [19]:
img_pl = PIL.Image.open(r"C:\Users\AGaikwad\OneDrive - Genzeon Corporation\Desktop\Project template\BusinessCardData\Selected\052.jpeg")

In [ ]:
img_pl #to see the image

In [23]:
#extracting text from image
text = pytesseract.image_to_string(
    img_pl,
    lang=None,
)

print(text)

HONDA

DONNIE HANSEN
MOTOCROSS TEAM RIDER
TEAM HONDA

AMERICAN HONDA MOTOR CO., INC.
100 WEST ALONDRA BOULEVARD e GARDENA, CA 90247
(213) 321-8680

In [24]:
#Image to data
data = pytesseract.image_to_data(
    img_pl
)

In [26]:
data

'level\tpage_num\tblock_num\tpar_num\tline_num\tword_num\tleft\ttop\twidth\theight\tconf\ttext\n1\t1\t0\t0\t0\t0\t0\t0\t720\t401\t-1\t\n2\t1\t1\t0\t0\t0\t36\t29\t207\t25\t-1\t\n3\t1\t1\t1\t0\t0\t36\t29\t207\t25\t-1\t\n4\t1\t1\t1\t1\t0\t36\t29\t207\t25\t-1\t\n5\t1\t1\t1\t1\t1\t36\t29\t207\t25\t86.427689\tHONDA\n2\t1\t2\t0\t0\t0\t237\t166\t246\t63\t-1\t\n3\t1\t2\t1\t0\t0\t237\t166\t246\t63\t-1\t\n4\t1\t2\t1\t1\t0\t237\t166\t246\t16\t-1\t\n5\t1\t2\t1\t1\t1\t237\t166\t112\t16\t96.601448\tDONNIE\n5\t1\t2\t1\t1\t2\t364\t166\t119\t16\t96.523178\tHANSEN\n4\t1\t2\t1\t2\t0\t245\t194\t231\t12\t-1\t\n5\t1\t2\t1\t2\t1\t245\t195\t108\t11\t96.121681\tMOTOCROSS\n5\t1\t2\t1\t2\t2\t362\t194\t48\t11\t96.600952\tTEAM\n5\t1\t2\t1\t2\t3\t422\t194\t54\t11\t96.310631\tRIDER\n4\t1\t2\t1\t3\t0\t299\t218\t123\t11\t-1\t\n5\t1\t2\t1\t3\t1\t299\t218\t49\t11\t95.178825\tTEAM\n5\t1\t2\t1\t3\t2\t359\t218\t63\t11\t95.178825\tHONDA\n2\t1\t3\t0\t0\t0\t35\t304\t649\t67\t-1\t\n3\t1\t3\t1\t0\t0\t35\t304\t649\t67\t-1\t\n4\t1\t3\t1\t1\t0\t35\t304\t648\t22\t-1\t\n5\t1\t3\t1\t1\t1\t35\t307\t184\t17\t96.608345\tAMERICAN\n5\t1\t3\t1\t1\t2\t240\t306\t122\t17\t96.001488\tHONDA\n5\t1\t3\t1\t1\t3\t383\t305\t123\t18\t92.981758\tMOTOR\n5\t1\t3\t1\t1\t4\t527\t305\t66\t21\t81.512299\tCO.,\n5\t1\t3\t1\t1\t5\t612\t304\t71\t17\t94.327950\tINC.\n4\t1\t3\t1\t2\t0\t39\t333\t645\t14\t-1\t\n5\t1\t3\t1\t2\t1\t39\t335\t35\t12\t96.249023\t100\n5\t1\t3\t1\t2\t2\t87\t335\t61\t11\t92.037720\tWEST\n5\t1\t3\t1\t2\t3\t161\t335\t106\t11\t92.037720\tALONDRA\n5\t1\t3\t1\t2\t4\t282\t335\t132\t11\t93.251259\tBOULEVARD\n5\t1\t3\t1\t2\t5\t428\t337\t9\t9\t88.720718\te\n5\t1\t3\t1\t2\t6\t452\t334\t112\t13\t92.596664\tGARDENA,\n5\t1\t3\t1\t2\t7\t579\t333\t28\t12\t96.523315\tCA\n5\t1\t3\t1\t2\t8\t620\t333\t64\t12\t96.658073\t90247\n4\t1\t3\t1\t3\t0\t285\t358\t153\t13\t-1\t\n5\t1\t3\t1\t3\t1\t285\t358\t50\t13\t96.457191\t(213)\n5\t1\t3\t1\t3\t2\t345\t358\t93\t12\t94.811729\t321-8680\n'

In [30]:
dataList = list(map(lambda x: x.split('\t'),data.split('\n')))
print(dataList)

[['level', 'page_num', 'block_num', 'par_num', 'line_num', 'word_num', 'left', 'top', 'width', 'height', 'conf', 'text'], ['1', '1', '0', '0', '0', '0', '0', '0', '720', '401', '-1', ''], ['2', '1', '1', '0', '0', '0', '36', '29', '207', '25', '-1', ''], ['3', '1', '1', '1', '0', '0', '36', '29', '207', '25', '-1', ''], ['4', '1', '1', '1', '1', '0', '36', '29', '207', '25', '-1', ''], ['5', '1', '1', '1', '1', '1', '36', '29', '207', '25', '86.427689', 'HONDA'], ['2', '1', '2', '0', '0', '0', '237', '166', '246', '63', '-1', ''], ['3', '1', '2', '1', '0', '0', '237', '166', '246', '63', '-1', ''], ['4', '1', '2', '1', '1', '0', '237', '166', '246', '16', '-1', ''], ['5', '1', '2', '1', '1', '1', '237', '166', '112', '16', '96.601448', 'DONNIE'], ['5', '1', '2', '1', '1', '2', '364', '166', '119', '16', '96.523178', 'HANSEN'], ['4', '1', '2', '1', '2', '0', '245', '194', '231', '12', '-1', ''], ['5', '1', '2', '1', '2', '1', '245', '195', '108', '11', '96.121681', 'MOTOCROSS'], ['5', '1', '2', '1', '2', '2', '362', '194', '48', '11', '96.600952', 'TEAM'], ['5', '1', '2', '1', '2', '3', '422', '194', '54', '11', '96.310631', 'RIDER'], ['4', '1', '2', '1', '3', '0', '299', '218', '123', '11', '-1', ''], ['5', '1', '2', '1', '3', '1', '299', '218', '49', '11', '95.178825', 'TEAM'], ['5', '1', '2', '1', '3', '2', '359', '218', '63', '11', '95.178825', 'HONDA'], ['2', '1', '3', '0', '0', '0', '35', '304', '649', '67', '-1', ''], ['3', '1', '3', '1', '0', '0', '35', '304', '649', '67', '-1', ''], ['4', '1', '3', '1', '1', '0', '35', '304', '648', '22', '-1', ''], ['5', '1', '3', '1', '1', '1', '35', '307', '184', '17', '96.608345', 'AMERICAN'], ['5', '1', '3', '1', '1', '2', '240', '306', '122', '17', '96.001488', 'HONDA'], ['5', '1', '3', '1', '1', '3', '383', '305', '123', '18', '92.981758', 'MOTOR'], ['5', '1', '3', '1', '1', '4', '527', '305', '66', '21', '81.512299', 'CO.,'], ['5', '1', '3', '1', '1', '5', '612', '304', '71', '17', '94.327950', 'INC.'], ['4', '1', '3', '1', '2', '0', '39', '333', '645', '14', '-1', ''], ['5', '1', '3', '1', '2', '1', '39', '335', '35', '12', '96.249023', '100'], ['5', '1', '3', '1', '2', '2', '87', '335', '61', '11', '92.037720', 'WEST'], ['5', '1', '3', '1', '2', '3', '161', '335', '106', '11', '92.037720', 'ALONDRA'], ['5', '1', '3', '1', '2', '4', '282', '335', '132', '11', '93.251259', 'BOULEVARD'], ['5', '1', '3', '1', '2', '5', '428', '337', '9', '9', '88.720718', 'e'], ['5', '1', '3', '1', '2', '6', '452', '334', '112', '13', '92.596664', 'GARDENA,'], ['5', '1', '3', '1', '2', '7', '579', '333', '28', '12', '96.523315', 'CA'], ['5', '1', '3', '1', '2', '8', '620', '333', '64', '12', '96.658073', '90247'], ['4', '1', '3', '1', '3', '0', '285', '358', '153', '13', '-1', ''], ['5', '1', '3', '1', '3', '1', '285', '358', '50', '13', '96.457191', '(213)'], ['5', '1', '3', '1', '3', '2', '345', '358', '93', '12', '94.811729', '321-8680'], ['']]

In [33]:
df = pd.DataFrame(dataList[1:], columns=dataList[0])
df.head()

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,720,401,-1,
1,2,1,1,0,0,0,36,29,207,25,-1,
2,3,1,1,1,0,0,36,29,207,25,-1,
3,4,1,1,1,1,0,36,29,207,25,-1,
4,5,1,1,1,1,1,36,29,207,25,86.427689,HONDA

Clean Text in Dataframe

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   level      38 non-null     object
 1   page_num   37 non-null     object
 2   block_num  37 non-null     object
 3   par_num    37 non-null     object
 4   line_num   37 non-null     object
 5   word_num   37 non-null     object
 6   left       37 non-null     object
 7   top        37 non-null     object
 8   width      37 non-null     object
 9   height     37 non-null     object
 10  conf       37 non-null     object
 11  text       37 non-null     object
dtypes: object(12)
memory usage: 3.7+ KB

In [35]:
df.dropna(inplace=True) # drop the missing values in rows

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37 entries, 0 to 36
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   level      37 non-null     object
 1   page_num   37 non-null     object
 2   block_num  37 non-null     object
 3   par_num    37 non-null     object
 4   line_num   37 non-null     object
 5   word_num   37 non-null     object
 6   left       37 non-null     object
 7   top        37 non-null     object
 8   width      37 non-null     object
 9   height     37 non-null     object
 10  conf       37 non-null     object
 11  text       37 non-null     object
dtypes: object(12)
memory usage: 3.8+ KB

In [37]:
df.head()

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,720,401,-1,
1,2,1,1,0,0,0,36,29,207,25,-1,
2,3,1,1,1,0,0,36,29,207,25,-1,
3,4,1,1,1,1,0,36,29,207,25,-1,
4,5,1,1,1,1,1,36,29,207,25,86.427689,HONDA

In [40]:
df['conf'].unique()

array(['-1', '86.427689', '96.601448', '96.523178', '96.121681',
       '96.600952', '96.310631', '95.178825', '96.608345', '96.001488',
       '92.981758', '81.512299', '94.327950', '96.249023', '92.037720',
       '93.251259', '88.720718', '92.596664', '96.523315', '96.658073',
       '96.457191', '94.811729'], dtype=object)

In [41]:
df['conf']=df['conf'].apply(pd.to_numeric, errors='coerce')

In [42]:
col_int = ['level','page_num','block_num','par_num','line_num','word_num','left','top','width','height','conf']
df[col_int]=df[col_int].astype(int)

In [44]:
df.dtypes

level         int32
page_num      int32
block_num     int32
par_num       int32
line_num      int32
word_num      int32
left          int32
top           int32
width         int32
height        int32
conf          int32
text         object
dtype: object

Drawing Bounding Box around each word

In [54]:
image = img_cv.copy()
level='word'
for l,x,y,w,h,c,txt in df[['level','left','top','width','height','conf','text']].values:
    # print(l,x,y,w,h,c)
    if level == 'page':
        if l == 1:
            cv2.rectangle(image,(x,y),(x+w, y+h),(0,0,0),2)
        else:
            continue

    elif level == 'block':
        if l == 2:
            cv2.rectangle(image,(x,y),(x+w, y+h),(255,0,0),2)
        else:
            continue

    elif level == 'para':
        if l == 3:
            cv2.rectangle(image,(x,y),(x+w, y+h),(0,255,0),2)
        else:
            continue

    elif level == 'line':
        if l == 4:
            cv2.rectangle(image,(x,y),(x+w, y+h),(0,0,255),2)
        else:
            continue

    elif level == 'word':
        if l == 5:
            cv2.rectangle(image,(x,y),(x+w, y+h),(0,255,0),2)
            cv2.putText(image, txt,(x,y), cv2.FONT_HERSHEY_PLAIN,1,(255,0,0),2)
        else:
            continue

cv2.imshow("Bounding Box", image)
cv2.waitKey(0)
cv2.destroyAllWindows()