In [2]:
import numpy as numpy
import pandas as pd
import string
import re

In [3]:
with open("businessCard.txt", mode="r", encoding="utf8", errors="ignore") as f:
    text = f.read()

In [4]:
data = list(map(lambda x: x.split("\t"), text.split("\n")))

In [5]:
df = pd.DataFrame(data[1:], columns=data[0])

In [8]:
df.head()

         id      text      tag
0  000.jpeg                  O
1  000.jpeg         .        O
2  000.jpeg  040-4852  B-PHONE
3  000.jpeg   "8881,"  I-PHONE
4  000.jpeg     90309  B-PHONE

In [12]:
whitespace = string.whitespace
punctuation = "!#$%&'()*+:;<=>?[\\]^`{|}~"

In [13]:
tableWhitespace = str.maketrans("", "", whitespace)
tablePunctuation = str.maketrans("", "", punctuation)

In [14]:
def cleanText(txt):
    text = str(txt)
    text = text.lower()
    removewhitespace = text.translate(tableWhitespace)
    removepunctuation = removewhitespace.translate(tablePunctuation)

    return str(removepunctuation)

In [15]:
df["text"] = df["text"].apply(cleanText)

In [16]:
dataClean = df.query("text != ''")
dataClean.dropna(inplace=True)

C:\Users\AGaikwad\AppData\Local\Temp\ipykernel_20652\111782460.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataClean.dropna(inplace=True)

In [17]:
dataClean.head()

         id      text      tag
1  000.jpeg         .        O
2  000.jpeg  040-4852  B-PHONE
3  000.jpeg   "8881,"  I-PHONE
4  000.jpeg     90309  B-PHONE
5  000.jpeg     52549  I-PHONE